{% extends "base.html.twig" %}


{% block title 'Home' %}
{% block content %}
	<div class="container">
		<h1>Agence</h1>
		<p>Laborum proident pariatur eu proident pariatur eiusmod.</p>
	</div>
	<div class="container">
		<h1>Biens</h1>
		{% for p in properties %}
			<h5>
				<a href="{{path('property.show', {id: p.id, slug: p.slug})}}">{{	p.title	}}</a>
			</h5>
			<p>{{ p.description }}</p>
			<p>{{ p.formattedPrice }}€</p>
		{% endfor %}

	</div>
{% endblock %}
