{% extends "base.html.twig" %}

{% block content %}
<div class="container">
	<h1>Creer un bien</h1>
	{# {% for error in errors %}
		<div class="alert alert-danger" role="alert">
			{{ error.message }}
		</div>
	{% endfor %} #}
	{{include ('Admin/property/_form.html.twig' , {form: form, button: 'Creer'}) }}
</div>

{% endblock content %}

{% block stylesheets %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" />
{% endblock %}

{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
<script>
	$('select').select2({
		placeholder: 'Select an option'
	  });
</script>
{% endblock %}
