{% extends "base.html.twig" %}

{% block content %}
<div class="container">
	<h1>Creer un bien</h1>
	{{include ('Admin/property/_form.html.twig' , {form: form, button: 'Creer'}) }}
</div>

{% endblock content %}
