{% extends "base.html.twig" %}

{% block title 'Voir les biens' %}
{% block body %}
	<div class="container">
		<h1>Acheter</h1>
		<p>Laborum proident pariatur eu proident pariatur eiusmod.</p>
	</div>
{% endblock %}
