{% extends "base.html.twig" %}

{% block title 'Show le bien' %}
{% block content %}
	<div class="container">
		<div class="card">
			<h1>Show</h1>
			<p>{{property.title}}</p>
			<h5>{{property.heatType}}</h5>
		</div>
	</div>
  
{% endblock %}
