<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
	<a class="nav-link {% if current_menu is defined and current_menu == 'dashboard' %}	active	{%	endif	%}" id="v-pills-home-tab" href="{{ path('admin.dashboard')}}"  aria-selected="true">Dasboard</a>
	<a class="nav-link {% if current_menu is defined and current_menu == 'property' %}	active	{%	endif	%}" id="v-pills-profile-tab"  href="{{ path('admin.property.index')}}" aria-selected="false">Biens</a>
	<a class="nav-link {% if current_menu is defined and current_menu == 'option' %}	active	{%	endif	%}" id="v-pills-messages-tab"  href="{{ path('option_index')}}"  aria-selected="false">Options</a>
</div>
