{% extends 'base.html.twig' %}

{% block title %}New Option{% endblock %}

{% block content %}
    <h1>Create new Option</h1>
	<div class="container">
		{{ include('Admin/option/_form.html.twig') }}
	</div>
   
{% endblock %}
